.container {
    display: flex;
    justify-content: center;
}


.update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 30px;
    gap: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: url(/src/assets/images/1179383.jpg) no-repeat center center;
    background-size: cover;
}

.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.location-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-section, .price-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
