/* TODO: Add sitewide styles */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button {
    background-color: #AEEBFF;
}

#modal-content {
    background: url('../../frontend/dist/assets/1179383-25717d39.jpg')  no-repeat center center;
    background-size: cover;
}

.footer {
    border-top: 1px solid #AEEBFF;
    display: flex;
    width: 100%;
    background-color: #AEEBFF;
    height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-container img {
    width: 300px;
}
