.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navigation li {
    margin-right: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;

  }
  .button-container button {
   display: flex;
   padding: 6px 6px;
   border: 1px solid #ccc;
   border-radius: 10px;
   background-color: white;
  }
