.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navigation li {
    margin-right: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
