
.profile-button {
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
  }

  .profile-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 230px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
  }


  .profile-dropdown.hidden {
    display: none;
  }

  .profile-dropdown li {
    display: flex;
    margin: 8px;
  }

  .profile-dropdown button {
    cursor: pointer;
  }

  .user-profile-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    background-color: white;
  }
  .user-profile-button li {
    background-color: white;
  }
  .logout-button {
    background-color: white;
    border:  2px solid #ccc;;
  }

  .menu-button:hover {
    box-shadow: 5px 5px 5px #ccc;
  }
