.login-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container button {
    display: flex;
    justify-content: center;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.login-container h1 {
    display: flex;
    justify-content: center;
}

.credential-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.input-fields label {
    background-color: transparent;
    border: none;
}

.demo-user {
    margin-top: 5px;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

.login-button:disabled:hover {
    box-shadow: none;
}
