#modal-content {
    padding: 20px;
}

.modal-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.modal-input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.modal-input-fields input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-login-button {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.modal-demo-user {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
}

.modal-login-button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

.modal-login-button:disabled:hover {
    box-shadow: none;
}
